In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("df_v_fianl.csv")

In [3]:
df

,국가,대륙,위험도,경보레벨,지역 유형,특이사항,작성일자
0,가나,아프리카,2.0,2.0,전체,전 지역,2022-08-02
1,가봉,아프리카,2.0,2.0,전체,전 지역,2023-11-24
2,가이아나,미주,NaN,NaN,NaN,NaN,2023-11-24
3,감비아,아프리카,2.0,2.0,전체,전 지역,2022-08-02
4,과테말라,미주,2.0,2.0,전체,전 지역,2022-08-02
...,...,...,...,...,...,...,...
180,피지,아주,1.0,1.0,전체,전 지역,2023-11-24
181,핀란드,유럽,NaN,NaN,NaN,NaN,2023-11-24
182,필리핀,아주,4.0,4.0,일부,"민다나오의 잠보앙가, 술루‧바실란‧타위타위 군도(2015.12.1.~2024.7.31.)",2024-05-13
183,헝가리,유럽,NaN,NaN,NaN,NaN,2023-11-24
184,호주,아주,NaN,NaN,NaN,NaN,2023-11-24

In [7]:
df = df.fillna(0)

In [6]:
df

,국가,대륙,위험도,경보레벨,지역 유형,특이사항,작성일자
0,가나,아프리카,2.0,2.0,전체,전 지역,2022-08-02
1,가봉,아프리카,2.0,2.0,전체,전 지역,2023-11-24
2,가이아나,미주,NaN,NaN,NaN,NaN,2023-11-24
3,감비아,아프리카,2.0,2.0,전체,전 지역,2022-08-02
4,과테말라,미주,2.0,2.0,전체,전 지역,2022-08-02
...,...,...,...,...,...,...,...
180,피지,아주,1.0,1.0,전체,전 지역,2023-11-24
181,핀란드,유럽,NaN,NaN,NaN,NaN,2023-11-24
182,필리핀,아주,4.0,4.0,일부,"민다나오의 잠보앙가, 술루‧바실란‧타위타위 군도(2015.12.1.~2024.7.31.)",2024-05-13
183,헝가리,유럽,NaN,NaN,NaN,NaN,2023-11-24
184,호주,아주,NaN,NaN,NaN,NaN,2023-11-24

In [9]:
df.to_csv("risk.csv")